.teams {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 10px;

    .cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin: 50px 0;
        padding: 0 300px;

        .card {
            .nome {
                font-size: 24px;
                font-weight: 500;
            }

            .positive {
                color: rgb(0, 165, 0)
            }

            .negative {
                color: rgb(199, 0, 0)
            }

            .contentMatches {
                .double {
                    // display: flex;
                    // align-items: center;
                    // gap: 20px;
                }
            }
        }
    }
}