.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 500px;
    overflow: scroll;

}